@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display-swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
button{
    height: 2.3rem;
    width: 10rem;
    cursor: pointer;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
}
#regist{
    margin-top: 3rem;
    border: none;
}
div.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    
    display: none;
}

/* 元素 article 置中及基本樣式 */
div.overlay > article{
    background-color: white;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    width: 650px;
    margin-top: 0.1px;
    margin-bottom: 1px;
}
table, th, td {
    border: 0px solid #CCCCFF;
}
th, td {
    margin: 0px;
    padding: 1px;
}

input {
    text-align: center;
    margin: .2rem;
    border-radius: 15px;
    padding: .5rem;
    border: none;
    outline: none;
}
.line{
    width: 10rem;
}
#btn_sub{
    margin-top: 1rem;
}
::-webkit-input-placeholder {
    text-align: center;
}
div {
    overflow-x:hidden;
    overflow-y:hidden;
}
div:hover {
    overflow: auto;
}
.centerControl{
    display: flex;
    align-items: center;
    justify-content: center;
}
#box {
    margin-top: 6rem;    
}
#title{
    margin-top: 3rem;
    font-size: 2.5em;
}